@import 'compass';
@import 'compass/reset';

$photo-space: 3px;

.gallery {
  @include column-count(2);
  @include column-gap($photo-space);
  max-width: 990px;
  margin: 0 auto;
}

.photo {
  width: 100%;
  vertical-align: top; /*prevent unwanted vertical gaps*/
  margin-bottom: $photo-space;
  cursor: pointer;
  &.active {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
  }
}

@media (min-width: 480px) {
  .gallery {
    @include column-count(3);
  }
}
@media (min-width: 735px) {
  $photo-space: 30px;
  .gallery {
    @include column-gap($photo-space);
    padding: $photo-space;
    padding-bottom: 0;
  }
  .photo {
    margin-bottom: $photo-space;
  }
}
