@import 'compass';
@import 'compass/reset';

$photo-space: 3px;
$photo-space-lg: 30px;

$white: #fdfdfd;
$gray: rgba(0,0,0,0.12);
$max-width: 990px;

.gallery {
  @include column-count(2);
  @include column-gap($photo-space);
  max-width: $max-width;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .gallery {
    @include column-count(3);
  }
}
  .gallery {
@media (min-width: 735px) {
    @include column-gap($photo-space-lg);
    padding: $photo-space-lg;
    padding-bottom: 0;
  }
}

@import 'Photo/Photo';
