@import 'compass';
@import 'compass/reset';

$photo-space: 3px;
$photo-space-lg: 30px;
$max-width: 990px;

$white: #fdfdfd;
$gray: rgba(0,0,0,0.12);
$black: rgba(0,0,0,0.87);

#app {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $black;
}

@import 'Gallery/Gallery';
@import 'Loader/Loader';
@import 'Photo/Photo';
