.photo {
  &.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgba(0,0,0,0.7);
    overflow: auto;
  }
}

.photo-content {
  background: $white;
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;
  @include pie-clearfix;
}

.picture {
  cursor: pointer;
  margin-bottom: $photo-space;
  vertical-align: top; /*prevent unwanted vertical gaps*/
  width: 100%;
  .photo.active & {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}


.caption {
  display: none;
  border-top: 1px solid $gray;
  padding: 16px;
  overflow: hidden;
  .photo.active & {
    display: block;
  }
}


@media (min-width: 435px) {
  .photo.active {
    padding: 40px;
  }
}
@media (min-width: 735px) {
  .picture {
    margin-bottom: $photo-space-lg;
  }
}
@media (min-width: 830px) {
  .picture {
    .photo.active & {
      float: left;
    }
  }
}
